<% provide :title, t("contact.contact_1") %>
<h1><%= t "contact.contact_1" %></h1>
<p>
  <%= t "contact_page.contact_page_1" %>
  <%= link_to t("contact_page.contact_page_2"), "http://www.railstutorial.org/contact" %>.
</p>
