<h1><%= t "sample_app" %></h1>

<p>Hi <%= @user.name %></p>

<p><%= t "welcome_mail" %></p>

<%= link_to t("active"), edit_account_activation_url(
  @user.activation_token, email: @user.email, id: @user.id) %>
