<% if object.errors.any? %>
  <div class="errorexplanation">
    <div class="alert alert-danger">
      <%= t "form_contain" %> <%= pluralize object.errors.count, t("error") %>
    </div>
    <ul>
      <% object.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>	
    </ul>
  </div>
<% end %>
