<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to t("app_name"), root_path, class: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to t("home.home_name"), root_path %></li>
        <li><%= link_to t("help.help_1"), help_path %></li>
        <li><%= link_to t("login.login_2"), '#' %></li>
      </ul>
    </nav>
  </div>
</header>
